<form
  action="https://hakanai.io/campaign/4647c232-9869-4c43-8109-73c235f29cfb/subscribe"
  method="get"
  class="not-prose w-fit flex flex-col gap-2 bg-code-light dark:bg-code-dark py-4 px-6 mx-auto rounded text-center my-6"
>
  <div class="text-balance">
    Get latest posts delivered right to your inbox:
  </div>
  <div class="flex flex-wrap items-center justify-center gap-2">
    <input
      name="email"
      autocomplete="email"
      type="email"
      placeholder="Your email"
      aria-label="Your email"
      required
      class="font-mono border border-gray-300 dark:border-gray-600 p-1 rounded bg-white dark:bg-gray-800 text-[#444] dark:text-[#ddd]"
    />
    <button
      type="submit"
      class="font-mono border-0 py-1 px-2 rounded bg-link dark:bg-link-dark text-white dark:text-[#081d27]"
    >
      Subscribe
    </button>
  </div>
</form>
