<ul class="not-prose list-none p-0 flex flex-col gap-2">
  {{ range .Site.RegularPages }}
  <li class="flex flex-col">
    <time
      datetime='{{ .Date.Format "2006-01-02" }}'
      class="italic text-[0.8rem]"
    >
      {{ .Date | time.Format ":date_long" }}
    </time>
    <a
      href="{{ .Permalink }}"
      class="text-link dark:text-link-dark no-underline hover:underline"
      >{{ .Title }}</a
    >
  </li>
  {{ else }}
  <li class="flex flex-col">No posts yet</li>
  {{ end }}
</ul>
